[Unit]
Description = Net Radio Recording
After = network.target

[Service]
User = shazhubusha
WorkingDirectory = /home/shazhubusha/Rec-adio
ExecStart = /home/shazhubusha/.local/bin/pipenv run start
Restart = no
Type = simple

[Install]
WantedBy = multi-user.target
